[include]
    # For username / creds / etc
    path = ~/.gitconfig.local
[branch "master"]
    # Use `origin` as the default remote on the `master` branch in all cases
    remote = origin
    merge = refs/heads/master
[alias]
    st = status
    ci = commit -v
    last = log --name-status HEAD^..HEAD
    logp="log --pretty=oneline -n 20 --graph --abbrev-commit"
    co = checkout
    cob = checkout -b
    br = branch -a -vv
    unstage = reset HEAD --
    who = shortlog -s -n --
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    #modified files per commit ; usage : git files [commitID]
    files = show --pretty="format:" --name-only
    # Show the diff between the latest commit and the current state
    d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
    # `git di $number` shows the diff between the state `$number` revisions ago and the current state
    di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
    plog = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    tlog = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
    rank = shortlog -sn --no-merges
[color]
    diff = auto
    ui = auto
    status = auto
    branch = auto
    interactive = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    changed = yellow
    added = green
    untracked = red
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old  = red bold
    new  = green bold
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    #autocrlf = false
    #safecrlf = true
    filemode = false
# URL shorthands
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix
[web]
    browser=open
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
