[include]
    # For username / creds / etc
    path = ~/.gitconfig.local
[alias]
    st = status
    ci = commit -v
    last = log  -v -1 HEAD
    logp="log --pretty=format:'%h %s' --graph"
	co = checkout
	br = branch
	unstage = reset HEAD --
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    who = shortlog -s -n --
[color]
#	diff = auto
    ui = auto
	status = auto
	branch = auto
	interactive = auto
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old  = red bold
    new  = green bold
[core]
	editor = vim
    excludesfile = ~/dotFiles/.gitignore_global
[web]
    browser=open

